.footer {
    position: fixed;
    bottom: 2px;
    width: max-content;
    padding: .2em;
    text-decoration: none;
    border-radius: .4em;
    transition: 0.2s linear;
    background-color: rgba(127,127,127,0.4);
    & .text {
        color: black;
        font-weight: bold;
    }
    & .svg {
        height: 30px;
        fill: black;
    }
    &:hover {
        background-color: rgba(60,60,60,0.4);

        & .text {
            color: rgb(125,125,125);
        }
        & .svg {
            fill:  rgb(125,125,125);
        }
    }
}