.form-a {
    text-decoration: none;
    color: $text;
  }
  
.form-linkbox {
    background-color: rgba($color: #000000, $alpha: 0.8);
    fill: rgb(73, 73, 73);
  
    & .row-full {
      width: max-content;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(var(--bs-gutter-y) * -1);
      margin-right: calc(var(--bs-gutter-x) * -0.5);
      margin-left: calc(var(--bs-gutter-x) * -0.5);
    }
    margin: 0.2em 0 0.2em 0;
    font-weight: 600;
    //padding / margin
    padding: $form-padding;
  
    // size
    height: max-content;
    //   width: 50em;
  
    // Background
    border: 1px solid rgb(73, 73, 73);
  
    border-radius: 25px;
  }