.profile {
    padding-right: 2px;
    & .profile-img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        background: white;
        width: 8em;
        height: 8em;
        border-radius: 50%;
    }
  }
  & .profile-user {
    color: $text;
    line-height: 4em;
    text-align: start;
  }

  & .profile-description {
    color: $gray-600;
    width: 100%;
    text-align: justify;
    }
}
